.about{
    padding: 400px 0 100px 0;
   
    h3{
        font-weight: bold;
        font-size: 17px;
        color:$color_black;
        
        padding: 15px 0 0 0;
    }
    &__item{
        margin: 15px;
        padding-bottom: 50px;
        color:$color_silver;
        font:{
            family:$f_montserrat;
           size: 17px;
                 
    }
        line-height: 1em;
        &--plum{
            border-top: 4px solid #6D3F96;
            
        }
        &--mint{
            border-top: 4px solid $color_mint;
        }
        &--yellow{
            border-top: 4px solid #FDC05D;
        }
        text-align: center;
        
}
}